.sources {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 10px 73px;
    align-items: center;
    justify-content: center;
    font:
        300 1em 'Fira Sans',
        sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.buttons-char {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 10px 73px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #30c5ff;
    font:
        300 1.5em 'Fira Sans',
        sans-serif;
}
.source__char {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;
}
.source__char:hover,
.source__char:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}
@media (max-width: 780px) {
    .buttons-char {
        margin: 10px 10px;
        font:
            300 1em 'Fira Sans',
            sans-serif;
    }
    .source__char {
        width: 50px;
        padding: 0.5em 1em;
    }
    .sources {
        margin: 10px 16px;
    }
}
@media (max-width: 500px) {
    .sources {
        margin: 10px 20px;
    }
    .source__item {
        font-size: 13px;
        text-align: center;
    }
}
@media (max-width: 380px) {
    .sources {
        margin: 10px 0px;
    }
    .source__item {
        font-size: 10px;
        text-align: center;
    }
}
