@font-face {
    font-family: Inter-Regular;
    font-weight: 400;
    src: url(assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-Italic;
    font-weight: 400;
    src: url(assets/fonts/Inter-Italic.ttf);
}
@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(assets/fonts/Inter.ttf);
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body {
    width: 100%;
    margin: 0;
    background: #E1D4C9;
}
.body-container {
    overflow: clip;
    max-width: 1440px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter-Regular;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    color: #403F3D;
    background: #E1D4C9;
}
.body.modal{

    position: fixed;
    overflow-y: hidden;
    left: 0;
    width: 100%;
}
.header {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 20px 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.logo {
    margin-top: 5px;
    z-index: 99;
}
.nav-menu {
    width: 100%;
    padding: 0px 2px 7px 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41.5px;
    transition: 0.2s;
}
.nav-menu li {
    background-image: linear-gradient(to right, #403F3D, #403F3D);
    background-repeat: no-repeat;
    background-size: 10px 0px;
    background-position: center bottom;
    padding-bottom: 5px;
}
.nav-link {
    padding: 0;
    color: #403F3D;
    text-decoration: none;
    /*background-image: linear-gradient(to right, #403F3D, #403F3D);
    background-repeat: no-repeat;
    background-size: 10px 0px;
    background-position: center bottom;
    padding-bottom: 5px;*/
    transition: 0.5s;
}
.menu-cup {
    width: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #403F3D, #403F3D);
    background-repeat: no-repeat;
    background-size: 10px 0px;
    background-position: center bottom;
    padding-bottom: 5px;
    letter-spacing: 0.6px;
    transition: 0.5s;
}
.menu-cup svg {
    margin-bottom: 5px;
}
.menu-cup a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #403F3D;
}
.button-burger {
    position: absolute;
    z-index: 99;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 100px;
    display: none;
}
.button-burger span {
    display: block;
    position: absolute;
    width: 16px;
    height: 1.5px;
    background-color: #665F55;
    transition: backgrond-color .5s, opacity .5s, transform .5s;
    will-change: transform;
}
.button-burger span:nth-child(1) {
    transform: translateY(-4px);
}
.button-burger span:nth-child(2) {
    transform: translateY(4px);
}
.button-burger.open span:nth-child(1) {
    transform: translateY(0) translateX(0) rotate(-45deg);
}
.button-burger.open span:nth-child(2) {
    transform: translateY(0) translateX(-0) rotate(45deg);
}
.main {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}
.enjoy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 645px;
    background-image: url(assets/img/enjoy-container.png);
    background-size: auto;
    background-position: center;
    margin: auto 40px;
    border-radius: 40px;
    overflow: hidden;
    transition: 1s;
}

.enjoy-video {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    bottom: 0;
    border-radius: 40px;
}

.enjoy-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 101px;
    top: 100px;
    gap: 40px;
    width: 530px;
    height: 444px;
    color: #E1D4C9;
    transition: 1s;
}

.enjoy-text h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: 0.8px;
}
.enjoy-text h1 span {
    font-family: Inter-Italic;
    letter-spacing: 4.5px;
    color: #B0907A;
    font-style: italic;
}
.enjoy-text div {
    font-family: Inter;
    letter-spacing: 0.6px;
}
.enjoy-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 200px;
    height: 64px;
    padding: 20px 23px 20px 50px;
    border-radius: 100px;
    color: #403F3D;
    background: #E1D4C9;
    border: none;
    margin-top: 0px;
    padding-left: 24px;
    left: -1px;
    transition: 1s;
}
.enjoy-text a {
    text-decoration: none;
    color: #403F3D;
}
.menu-button {
    margin-left: 24px;
    transition: margin-left .5s;
}
.menu-img {
    position: absolute;
    left: 120px;
    opacity: 0;
    transition: opacity .5s;
}
.favourites-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0px 44px;
}
.favourites-coffee h2 {
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.5px;
}
.favourites-coffee h2 span {
    font-style: italic;
    color: #B0907A;
}
.slider-container {
    position: relative;
    height: 684px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 4px;
    bottom: 0px;
    left: 50%;
    margin-left: -72px;
}
.control-slide {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #C1B6AD;
}
.progress-control {
    width: 0%;
    height: 100%;
    border-radius: 100px;
    background-color: #C1B6AD;
    transition: 2s;
}
.arrow-left,
.arrow-right {
    z-index: 999;
    padding-bottom: 47px;
    position: relative;
}
.arrow-left div,
.arrow-right div {
    position: absolute;
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid 1px #665F55;
    border-radius: 100px;
    transition: 1.5s;
}
.arrow-right div {
    right: 0px;
    top: -30px;
}.arrow-left div {
    right: -60px;
    top: -30px;
}
.arrow-left-icon,
.arrow-right-icon {
    stroke: #403F3D;
    transition: 1.5s;
}
.wrapper-slides {
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 100%;
    margin-bottom: 40px;
}
.about-slides {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    height: 100%;
    width: 300%;
    transition: 0.5s;
}
.slide-1,
.slide-2,
.slide-3 {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-slide-1,
.content-slide-2,
.content-slide-3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content-slide-1 div,
.content-slide-2 div,
.content-slide-3 div {
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}
.text-item {
    font-weight: 400;
}
.section-about {
    display: flex;
    padding: 0px 40px;
}
.wrapper-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
.section-about h2 {
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.45px;
}
.section-about h2 span {
    font-style: italic;
    color: #B0907A;
}
.images-container,
.images-container2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
.column-images-left,
.column-images-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.images-left-1,
.images-right-2 {
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 20px;
    width: 660px;
    height: 590px;
    background-size: 110%;
    background-position: center;
    transition: background-size 1s;
}
.images-left-1 {
    background-image: url(assets/img/about-1.jpg);
}
.images-left-2 {
    background-image: url(assets/img/about-2.jpg);
}
.images-right-1 {
    background-image: url(assets/img/about-3.jpg);
}
.images-right-2 {
    background-image: url(assets/img/about-4.jpg);
}
.images-left-2,
.images-right-1 {
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 20px;
    width: 660px;
    height: 430px;
    background-size: 110%;
    background-position: center;
    transition: background-size 1s;
}
.button-wrapper-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #665F55;
    border-radius: 100px;
    display: none;
    transition: 1.5s;
}
.button-wrapper-about.tea{
    display: none;
}
.button-wrapper-about-svg {
    stroke: #403F3D;
}
.section-mobile-app {
    display: flex;
    padding: 0px 40px;
}
.mobile-app-container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}
.mobile-app-left {
    font-family: Inter;
    height: 342px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 17px;
}
.mobile-app-container div img {
    position: relative;
    top: -5px;
}
.mobile-app-container h2 {
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 3px;
}
.word-intel {
    font-family: Inter-Italic;
    letter-spacing: 4.5px;
    color: #B0907A;
}
.last-word {
    letter-spacing: 4.5px;
}
.mobile-app-container div {
    letter-spacing: 0.6px;
}
.buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.button-app-store,
.button-google-play {
    width: 200px;
    height: 62px;
    border: solid 1px #665F55;
    border-radius: 100px;
    padding: 12px 20px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    gap: 8px;
    color: #403F3D;
    background-color: #E1D4C9;
    margin-top: 1px;
    transition: 2s;
}
.button-app-store div,
.button-google-play div {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.button-icon {
    width: 36px;
    height: 36px;
    fill: #403F3D;
    transition: 2s;
}
.app-store-text,
.google-play-text {
    font-size: 10px;
    line-height: 140%;
}
.app-store-title,
.google-play-title {
    font-size: 16px;
    line-height: 150%;
}
.footer {
    width: 100%;
}
.contacts-wrapper {
    height: 450px;
    width: 1360px;
    margin: 89px 40px 40px;
    background-color: #665F55;
    border-radius: 40px;
    padding: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    transition: 1s;
}
.offer-text {
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.5px;
    color: #E1D4C9;
}
.inter-coffee-time {
    font-family: Inter-Italic;
    letter-spacing: 3px;
    color: #B0907A;
}
.contacts-left {
    width: 530px;
    height: 250px;
}
.socials-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-top: 40px;
    padding: 0;
}
.instagram-hover {
    position: absolute;
    top: 17px;
    opacity: 0;
    transition: opacity 1.5s;
}
.socials-links-items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid 1px #C1B6AD;
    border-radius: 100px;
    transition: 1.5s;
}
.social-icon {
    fill: #665F55;
    stroke: #E1D4C9;
    transition: 1.5s;
}
.socials-links-items div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts-right {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 14px;
    color: #E1D4C9;
}
.contacts-right-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 22px;
    letter-spacing: 0.4px;
}
.link-contact {
    font-family: Inter;
    letter-spacing: 1px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
}
.link-contact img {
    padding-right: 8px;
}
.link-contact-wrapper img {
    padding-right: 8px;
}
.link-contact a {
    display: inline-block;
    line-height: 24px;
    text-align: center;
}
.link-contact-wrapper {
    display: block;
    text-align: center;
    background-image: linear-gradient(to right, #E1D4C9, #E1D4C9);
    background-repeat: no-repeat;
    background-size: 10px 0px;
    background-position: center bottom;
    padding-bottom: 5px;
    transition: 0.5s;
}
.link-item {
    padding: 0;
    color: #E1D4C9;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
    text-decoration: none;
}
.link-item-clock {
    padding: 0;
    color: #E1D4C9;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}







/*style for menu-page*/
.menu-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
}
.menu-cup2 {
    width: 72px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-image: linear-gradient(to right, #403F3D, #403F3D);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: center bottom;
    padding-bottom: 5px;
    letter-spacing: 0.6px;
    transition: 0.5s;
}
.menu-cup2 svg {
    margin-bottom: 5px;
}

.wrapper-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 5px;
}
.menu-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
}
.menu-offer h1 {
    width: 800px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.5px;
}
.offer-style {
    letter-spacing: 0.4px;
}
.offer-italic {
    font-family: Inter-Italic;
    color: #B0907A;
    letter-spacing: 3.6px;
}
.container-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 361px;
    height: 46px;
}
.container-icons-coffee,
.container-icons-tea,
.container-icons-dessert {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    height: 46px;
    border-radius: 100px; 
    padding: 8px 16px 8px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.container-icons-coffee {
    width: 115px;
}
.container-icons-coffee,
.container-icons-tea,
.container-icons-dessert {
    color: #403F3D;
    border: 1px solid #C1B6AD;
    transition: 1s;
}
.container-icons-tea {
    width: 90px;
}
.container-icons-dessert {
    width: 124px;
}
.container-icons-coffee div,
.container-icons-tea div,
.container-icons-dessert div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
}
.container-icons-coffee.activ,
.container-icons-tea.activ,
.container-icons-dessert.activ {
    border: 1px solid #665F55;
    background-color: #665F55;
    color: #E1D4C9;
}
.images-container,
.images-container2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
.column-images-left,
.column-images-left2,
.column-images-right,
.column-images-right2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.wrapper-img-coffee1,
.wrapper-img-coffee2,
.wrapper-img-coffee3,
.wrapper-img-coffee4,
.wrapper-img-coffee5,
.wrapper-img-coffee6,
.wrapper-img-coffee7,
.wrapper-img-coffee8 {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    width: 310px;
    height: 506px;
    opacity: 1;
    transition: 1s;
}


.wrapper-img-coffee1.tea,
.wrapper-img-coffee2.tea,
.wrapper-img-coffee3.tea,
.wrapper-img-coffee4.tea,
.wrapper-img-coffee5.tea,
.wrapper-img-coffee6.tea,
.wrapper-img-coffee7.tea,
.wrapper-img-coffee8.tea {
    display: none;
    transition: 1s;
}
.img_coffee-1,
.img_coffee-2,
.img_coffee-3,
.img_coffee-4,
.img_coffee-5,
.img_coffee-6,
.img_coffee-7,
.img_coffee-8 {
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    background-size: 110%;
    background-position: center;
    transition: background-size 1s;
    opacity: 1;
    z-index: 1;
    transition: 1s;
}
.img_tea-1,
.img_tea-2,
.img_tea-3,
.img_tea-4,
.img_tea-5,
.img_tea-6,
.img_tea-7,
.img_tea-8 {
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    background-size: 110%;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: background-size 1s;
    transition: 1s;
}
.img_dessert-1,
.img_dessert-2,
.img_dessert-3,
.img_dessert-4,
.img_dessert-5,
.img_dessert-6,
.img_dessert-7,
.img_dessert-8 {
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    background-size: 110%;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: background-size 1s;
    transition: 1s;
}
.img_coffee-1 {
    background-image: url(assets/img/menu_coffee-1.png);
}
.img_coffee-2 {
    background-image: url(assets/img/menu_coffee-5.png);
}
.img_coffee-3 {
    background-image: url(assets/img/menu_coffee-2.png);
}
.img_coffee-4 {
    background-image: url(assets/img/menu_coffee-6.png);
}
.img_coffee-5 {
    background-image: url(assets/img/menu_coffee-3.png);
}
.img_coffee-6 {
    background-image: url(assets/img/menu_coffee-7.png);
}
.img_coffee-7 {
    background-image: url(assets/img/menu_coffee-4.png);
}
.img_coffee-8 {
    background-image: url(assets/img/menu_coffee-8.png);
}
.img_tea-1 {
    background-image: url(assets/img/tea-1.png);
}
.img_tea-3 {
    background-image: url(assets/img/tea-2.png);
}
.img_tea-5 {
    background-image: url(assets/img/tea-3.png);
}
.img_tea-7 {
    background-image: url(assets/img/tea-4.png);
}
.img_dessert-1 {
    background-image: url(assets/img/dessert-1.png);
}
.img_dessert-2 {
    background-image: url(assets/img/dessert-5.png);
}
.img_dessert-3 {
    background-image: url(assets/img/dessert-2.png);
}
.img_dessert-4 {
    background-image: url(assets/img/dessert-6.png);
}
.img_dessert-5 {
    background-image: url(assets/img/dessert-3.png);
}
.img_dessert-6 {
    background-image: url(assets/img/dessert-7.png);
}
.img_dessert-7 {
    background-image: url(assets/img/dessert-4.png);
}
.img_dessert-8 {
    background-image: url(assets/img/dessert-8.png);
}
.img_tea-2,
.img_tea-4,
.img_tea-6,
.img_tea-8 {
    display: none;
}
.description-coffee {
    position: absolute;
    bottom: -1px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 310px;
    height: 196px;
    padding: 20px;
    color: #403F3D;
    z-index: 1;
    transition: 1s;
}
.description-tea,
.description-dessert {
    position: absolute;
    bottom: -1px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 310px;
    height: 196px;
    padding: 20px;
    color: #403F3D;
    transition: 1s;
}
.description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 12px;
    transition: 1s;
}
.title-description,
.price-description {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    transition: 1s;
}
.text-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    transition: 1s;
}
.contacts-wrapper2 {
    height: 450px;
    width: 1360px;
    margin: 95px 40px 40px;
    background-color: #665F55;
    border-radius: 40px;
    padding: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
}
.socials-links-items-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid 1px #C1B6AD;
    border-radius: 100px;
    transition: 1.5s;
}
.socials-links-items-menu div {
    display: flex;
    align-items: center;
    justify-content: center;
}




/*menu-burger*/
.menu-burger {
    width: 768px;
    /*height: 1024px;*/
  /*  padding-top: 20px;*/
   
    position: absolute;
    top: 100px;
    left: 1500px;
    z-index: 9;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #E1D4C9;
    color: #403F3D;
    transition: 2s;
}
.menu-burger.open {
    left: 0px;
    opacity: 1;
    transition: 1s;
}
/*.menu-burger-header {
    width: 100%;
    height: 60px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/
.menu-burger-main {
    width: 100%;
   /* height: 924px;*/
    height: 100%;
    padding: 60px 40px 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 100px;
}
.menu-burger-nav {
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 55px;   
}
.menu-burger-nav,
.menu-burger-cup,
.menu-burger-cup2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-burger-cup {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-image: linear-gradient(to right, #403F3D, #403F3D);
    background-repeat: no-repeat;
    background-size: 10px 0px;
    background-position: center bottom;
    padding-bottom: 5px;
    transition: 0.5s;
}
.nav-link {
    text-decoration: none;

}
.menu-burger-nav li {
    background-image: linear-gradient(to right, #403F3D, #403F3D);
    background-repeat: no-repeat;
    background-size: 10px 0px;
    background-position: center bottom;
    padding-bottom: 5px;
}
.menu-burger-cup2 {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.menu-burger-cup a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: #403F3D;
}
@media (min-width: 769px) {
    .menu-burger.open {
        width: 100%;
    }
    .menu-burger {
        width: 100%;
    }
}
@media (max-width: 767px) and (min-width: 381px) {
    .menu-burger.open {
        max-width: 100%;
    }
    .menu-burger {
        max-width: 100%;
    }
}
@media (max-width: 380px) and (min-width: 380px) {
    .menu-burger.open {
        width: 380px;
    }
    .menu-burger {
        width: 380px;
        height: 824px;
        position: absolute;
        top: 100px;
        left: 380px;
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #E1D4C9;
        color: #403F3D;
    }

    .menu-burger-main {
        width: 100%;
        height: 724px;
        padding: 60px 16px 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 100px;
    }
    .menu-burger-nav {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column; 
    }
}
@media (max-width: 379px) {
    .menu-burger.open {
        max-width: 100%;
    }
    .menu-burger {
        max-width: 100%;
        height: 824px;
        position: absolute;
        top: 100px;
        left: 380px;
        z-index: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #E1D4C9;
        color: #403F3D;
    }
    /*.menu-burger-header {
        width: 100%;
        height: 60px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }*/
    .menu-burger-main {
        width: 100%;
        height: 724px;
        padding: 60px 16px 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 100px;
    }
    .menu-burger-nav {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: 60px;   
    }

}




/*hover для всего контента*/
@media (hover: hover) {
    .nav-menu li:hover,
    .menu-burger-nav li:hover {
        background-size: 100% 2px;
        transition: 0.5s;
        cursor: pointer;
    }
    .menu-cup:hover {
        background-size: 100% 2px;
        transition: 0.5s;
        cursor: pointer;
    }
    .menu-burger-cup:hover {
        background-size: 100% 2px;
        transition: 0.5s;
        cursor: pointer;
    }
    .button-burger {
        cursor: pointer;
    }
    .enjoy-button:hover {
        padding-left: 0px;
        cursor: pointer;
    }
    .enjoy-button:hover .menu-img {
        opacity: 1;
    }
    .arrow-left div:hover,
    .arrow-right div:hover {
        border: solid 1px #C1B6AD;
        background-color: #665F55;
        cursor: pointer;
    }
    .arrow-left div:hover .arrow-left-icon,
    .arrow-right div:hover .arrow-right-icon {
        stroke: #C1B6AD;
    }
    .button-wrapper-about:hover {
        border: solid 1px #C1B6AD;
        background-color: #665F55;
        cursor: pointer;
    }

    .images-left-2:hover,
    .images-left-1:hover,
    .images-right-1:hover,
    .images-right-2:hover {
        background-size: 100%; 
    }
    .button-app-store:hover,
    .button-google-play:hover {
        color: #E1D4C9;
        background-color: #665F55;
        cursor: pointer;
    }
    .button-app-store:hover .button-icon,
    .button-google-play:hover .button-icon {
        fill: #E1D4C9;
    }
    .socials-links-items:hover .instagram-hover{
        opacity: 1;
    }
    .socials-links-items:hover{
       background-color: #C1B6AD;
       cursor: pointer;
    }
    .socials-links-items:hover .social-icon {
        fill: #C1B6AD;
        stroke: #665F55;
    }
    .link-item:hover {
        color: #E1D4C9;
    }
    .link-contact-wrapper:hover {
        background-size: 100% 2px;
        transition: 0.5s;
        cursor: pointer;
    }
    .wrapper-img-coffee1:hover .img_coffee-1,
    .wrapper-img-coffee2:hover .img_coffee-2,
    .wrapper-img-coffee3:hover .img_coffee-3,
    .wrapper-img-coffee4:hover .img_coffee-4,
    .wrapper-img-coffee5:hover .img_coffee-5,
    .wrapper-img-coffee6:hover .img_coffee-6,
    .wrapper-img-coffee7:hover .img_coffee-7,
    .wrapper-img-coffee8:hover .img_coffee-8 {
        background-size: 100%; 
    }
    .wrapper-img-coffee1:hover .img_tea-1,
    .wrapper-img-coffee2:hover .img_tea-2,
    .wrapper-img-coffee3:hover .img_tea-3,
    .wrapper-img-coffee4:hover .img_tea-4,
    .wrapper-img-coffee5:hover .img_tea-5,
    .wrapper-img-coffee6:hover .img-tea-6,
    .wrapper-img-coffee7:hover .img_tea-7,
    .wrapper-img-coffee8:hover .img_tea-8 {
        background-size: 100%; 
    }
    .wrapper-img-coffee1:hover .img_dessert-1,
    .wrapper-img-coffee2:hover .img_dessert-2,
    .wrapper-img-coffee3:hover .img_dessert-3,
    .wrapper-img-coffee4:hover .img_dessert-4,
    .wrapper-img-coffee5:hover .img_dessert-5,
    .wrapper-img-coffee6:hover .img_dessert-6,
    .wrapper-img-coffee7:hover .img_dessert-7,
    .wrapper-img-coffee8:hover .img_dessert-8 {
        background-size: 100%; 
    }
    .socials-links-items-menu:hover .instagram-hover{
        opacity: 1;
    }
    .socials-links-items-menu:hover{
       background-color: #C1B6AD;
       cursor: pointer;
    }
    .socials-links-items-menu:hover .social-icon {
        fill: #C1B6AD;
        stroke: #665F55;
    
    }
    .container-icons-coffee:hover,
    .container-icons-tea:hover,
    .container-icons-dessert:hover {
        color: #E1D4C9;
        border: 1px solid #665F55;
        background-color: #665F55;
        cursor: pointer;
    }   
    .container-icons-coffee.activ:hover,
    .container-icons-tea.activ:hover,
    .container-icons-dessert.activ:hover {
        cursor: default;
    }
}



/*адаптивность*/
@media (max-width: 1439px) {
    .images-container {
        justify-content: center;
        gap: 2%;
        width: 100%;
    }
    .images-left-2, .images-right-1 {
        width: 45.5vw;
        height: 30vw;
    }
    .images-left-1, .images-right-2 {
        width: 45.5vw;
        height: 41vw;
    }
    .contacts-wrapper,
    .contacts-wrapper2 {
        height: auto;
        width: auto;
    }
}
@media (max-width: 1430px) {
    .images-container2 {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 15%;
        justify-content: space-around;
    }
} 

@media (max-width: 1350px) {
    .wrapper-slides {
        width: 50%;
    }
}
@media (max-width: 1270px) {
    .enjoy-video {
        width: auto;
        height: 100%;
    }
}


@media (max-width: 1224px) {
    .wrapper-slides {
        width: 60%;
    }
    .images-container2 {
        padding: 0 10%;
        justify-content: space-around;
    }
    .mobile-app-container {
        flex-direction: column;
        gap: 0px;
        transition: 0.5s;
    }
    .mobile-app-left h2 {
        line-height: 120%;
    }
    .mobile-app-container div img {
        top: -22px;
    }
    .contacts-wrapper,
    .contacts-wrapper2 {
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: start;
        margin: 70px 40px 40px;
        padding-left: 60px;
        padding-bottom: 107px;
    }
    .contacts-wrapper2 {
        margin: 95px 40px 40px;
    }
}
@media (max-width: 1000px) {
    .menu-offer h1 {
        width: 100%;
        height: auto;
    }
    .images-container {
        height: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .images-container2 {
        padding: 0 5%;
        justify-content: space-around;
    }
    .images-left-1, 
    .images-left-2,
    .images-right-1,
    .images-right-2 {
        width: 688px;
        height: 590px;
        background-size: 105%;
        transition: 1s;
        background-repeat: no-repeat;
    }
    @media (hover: hover) {
        .images-left-2:hover, 
        .images-left-1:hover, 
        .images-right-1:hover, 
        .images-right-2:hover {
            background-size: 95%;
            background-repeat: no-repeat;
        }
        .images-left-1:hover .column-images-left,
        .images-right-2:hover .column-images-right {
            margin: 0 50px;
        }

    }
    .mobile-app-container {
        gap: 50px;
        transition: 0.5s;
    }
}
@media (max-width: 900px) {
    .wrapper-slides {
        width: 70%;
    }
    .images-container2 {
        padding: 0 13px;
        justify-content: space-around;
    }
}
@media (max-width: 800px) {
    .mobile-app-container {
        gap: 100px;
        transition: 0.5s;
    }
}
@media (max-width: 768px) {
    .nav-menu,
    .menu-cup,
    .menu-cup2 {
        opacity: 0;
        display: none;
    }
    .enjoy {
        background-image: url(assets/img/enjoy-tablet.jpg);
        background-size: auto 100%;
        transition: 1s;
    }
    .enjoy-text {
        left: 60px;
        transition: 1s;
    }
    .enjoy-button {
        padding-left: 0px;
    }
    .images-left-2, .images-right-1 {
        display: none;
    }
    .wrapper-img-coffee2,
    .wrapper-img-coffee4,
    .wrapper-img-coffee6,
    .wrapper-img-coffee8 {
        display: none; 
    }
    .button-wrapper-about{
        display: flex;
    }
    .menu-img {
        opacity: 1;
    }
    .button-burger {
        display: flex;
    }
}
@media (max-width: 765px) {
    .images-container2 {
        padding: 0;
    }
}
@media (max-width: 760px) {
    .enjoy-text {
        padding-left: 16px;
        padding-right: 16px;
        width: 80%;
    }
    .enjoy-text h1 {
        font-size: 50px;
    }
    .menu-offer h1 {
        font-size: 50px;
    }
    .section-about h2 {
        font-size: 45px;
        letter-spacing: 0.15px;
    }
    .images-left-1, .images-right-2 {
        width: 90vw;
        background-size: 147%;
    }
    @media (hover: hover) { 
        .images-left-1:hover, 
        .images-right-2:hover {
            background-size: 137%;
        }
    }
    .content-slide-1 div, 
    .content-slide-2 div, 
    .content-slide-3 div {
        width: 100%;
    }
    .mobile-app-container h2 {
        font-size: 45px;
        letter-spacing: 1.5px;
    }
    .mobile-app-container div img {
        width: 100%;
        top: -44px;
    }
    .contacts-wrapper,
    .contacts-wrapper2 {
        padding-right: 50px;
    }
    .images-container2 {
        justify-content: center;
    }
    .contacts-left {
        width: 100%;
    }
    .offer-text {
        font-size: 45px;
        letter-spacing: 0.2px;
    }
}

@media (max-width: 600px) {
.enjoy-text {
    padding-left: 16px;
    padding-right: 16px;
    width: 90%;
    left: 40px;
}
}

@media (max-width: 530px) {
    .favourites-coffee h2 {
        font-size: 40px;
    }
    .wrapper-slides {
        width: 100%;
    }
    .enjoy-text {
        left: 20px;
        top: 60px;
    }
}
@media (max-width: 480px) {
    .header {
        padding: 20px 16px;
    }
    .container-icons {
        justify-content: center;
        gap: 9px;
    }   
    .enjoy {
        margin: auto 16px;
        height: 552px;
    }
    .enjoy-text {
        width: auto;
        height: 432px;
        gap: 39px;
        padding: 0 16px;
        left: 0px;
        top: 60px;
    }
    .enjoy-text h1 {
        font-size: 42px;
        line-height: 115%;
        letter-spacing: 0.5px;
    }
    .menu-offer h1 {
        font-size: 32px;
        line-height: 125%;
    }
    .offer-italic {
        letter-spacing: 2px;
    }
    .enjoy-text h1 span {
        letter-spacing: 3px;
    }   
    .menu-img {
        left: 118px;
    } 
    .img_coffee-1, 
    .img_coffee-3, 
    .img_coffee-5, 
    .img_coffee-7 {
        width: 308px;
    }
    .img_tea-1, 
    .img_tea-3, 
    .img_tea-5, 
    .img_tea-7 {
        width: 308px;
    }
    .img_dessert-1, 
    .img_dessert-3, 
    .img_dessert-5, 
    .img_dessert-7 {
        width: 308px;
    }
    .favourites-coffee {
        padding: 0px 15px;
    }
    .favourites-coffee h2 {
        font-size: 32px;
    }
    .slider-container {
        height: 655px;
    }
    .arrow-left, .arrow-right {
        display: none;
    }
    .content-slide-1, 
    .content-slide-2, 
    .content-slide-3 {
        justify-content: start;
        width: 100%;
    }
    .content-slide-1 img, 
    .content-slide-2 img, 
    .content-slide-3 img {
        width: 100%;
    }
    .content-slide-1 div, 
    .content-slide-2 div, 
    .content-slide-3 div {
        width: 100%;
    }
    .slide-text {
        margin: 18px 0 15px;
    }
    .section-about {
        padding: 0px 16px;
    }
    .section-about h2 {
        font-size: 32px;
        letter-spacing: 0.15px;
    }
    .column-images-left, 
    .column-images-left2, 
    .column-images-right, 
    .column-images-right2 {
        width: 100%;
    }
    .images-left-1, 
    .images-right-2 {
        width: 348px;
        height: 590px;
        background-size: 209%;
    }
    @media (hover: hover) { 
        .images-left-1:hover, 
        .images-right-2:hover {
            background-size: 199%;
        }
    }
    .mobile-app-container h2 {
        font-size: 32px;
        letter-spacing: 1.5px;
    }
    .mobile-app-container,
    .mobile-app-left {
        width: 100%;
    }
    .word-intel {
        letter-spacing: 2px;
    }
    .last-word {
        letter-spacing: 2.5px;
    }
    .buttons-container {
        align-items: start;
        flex-direction: column;
        margin-top: -2px;
    }
    .mobile-app-container div img {
        width: 100%;
        top: -44px;
    }
    .section-mobile-app {
        padding: 0px 16px;
    }
    .contacts-wrapper,
    .contacts-wrapper2 {
        margin: 50px 16px 40px;
        height: 526px;
        padding: 61px 16px;
    }
    .contacts-wrapper2 {
        margin: 95px 16px 40px;
    }
    .offer-text {
        font-size: 32px;
        letter-spacing: 0.2px;
    }
    .contacts-left {
        width: 100%;
        height: 120px;
    }
    .inter-coffee-time {
        letter-spacing: 1.2px;
    }
    .letter-coffee-time {
        letter-spacing: 2px;
    }
}
@media (max-width: 460px) {
    .slider-container {
        height: 665px;
    }
}
@media (max-width: 450px) {
    .slider-container {
        height: 640px;
    }
}  
@media (max-width: 420px) {
    .slider-container {
        height: 620px;
    }
}
@media (max-width: 400px) {
    .slider-container {
        height: 590px;
    }
}      
@media (max-width: 385px) {
    .slider-container {
        height: 576px;
    }
    .button-burger {
        right: 16px;
    } 
}    
@media (max-width: 380px) {
    .button-burger {
        right: 16px;
    } 
}    
@media (max-width: 370px) {
    .enjoy {
        align-items: start;
    }
    .enjoy-text {
        width: auto;
        height: 432px;
        gap: 20px;
        padding: 0 16px;
        margin: 16px 0px;
        top: 20px;
    }
    .images-left-1, 
    .images-right-2 {
        width: 97%;
        background-size: 238%;
    }
    @media (hover: hover) { 
        .images-left-1:hover, 
        .images-right-2:hover {
            background-size: 228%;
        }
    }
    .mobile-app-left {
        margin-bottom: 50px;
    }
    .contacts-wrapper,
    .contacts-wrapper2 {
        height: 550px;
        padding: 50px 16px;
        gap: 130px;
    }
}




/*modal*/

.modal-background.open{
    display: block;
    opacity: 1; 
    z-index: 999;
    animation: inBlock 0.5s ease-in;

}
.modal-background.close{
    display: none;
    opacity: 0;
    animation: fromBlock 0.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes fromBlock {
    0% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@keyframes inBlock {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
  }
.modal-background:before {
    position: absolute;
    content: '' ;
    background: rgba(64, 63, 61, 0.80);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.modal-background.modal{
    overflow-y: hidden;
}
.modal-desktop {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 800px;
   /* height: 504px;*/
    height: auto;
    border-radius: 40px;
    padding: 16px;
    background-color: #E1D4C9;
    position: fixed;
   /* top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -252px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    opacity: 1; 
    
}
.modal-tablet {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 688px;
    /*height: 626px;*/
    height: auto;
    border-radius: 40px;
    padding: 16px;
    background-color: #E1D4C9;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -344px;
    margin-top: -313px;
    z-index: 99999;
    opacity: 1; 
}
.modal-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 342px;
  /*  height: 626px;*/
    height: auto;
    border-radius: 40px;
    padding: 16px;
    background-color: #E1D4C9;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -171px;
    margin-top: -313px;
    z-index: 99999;
    opacity: 1; 
}


.modal-img {
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    background-size: 110%;
    background-position: center;
    opacity: 1;
    /*z-index: 0;*/
    transition: background-size 1s;
    transition: 1s;
}
.modal-description {
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    align-self: end;
    gap: 20px;
   /* width: 458px;*/
    margin-left: 20px;
    height: auto;
   /* background-color: aqua;*/
    color: #403F3D;
    font-family: Inter-Regular;
    font-style: normal;
    z-index: 1;
    transition: 1s;
}
.modal-description-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
    width: 100%;
    height: auto;
   /* background-color: rgb(160, 167, 45);*/
    z-index: 1;
    transition: 1s;
}
.modal-description-size {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;
    width: 100%;
    height: auto;
   /* background-color: rgb(45, 167, 124);*/
    z-index: 1;
    transition: 1s;
}
.modal-description-additives {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    height: auto;
   /* background-color: rgb(167, 67, 45);*/
    z-index: 1;
    transition: 1s;
}
.modal-description-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
   /* background-color: rgb(96, 45, 167);*/
    z-index: 1;
    transition: 1s;
}
.modal-description-alert {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 8px;
    width: 100%;
    height: auto;
    padding: 12px 0;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%; /* 14px */
  /*  background-color: rgb(45, 167, 86);*/
    z-index: 1;
    transition: 1s;
}
.modal-description-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding: 10px 78px;
    font-style: normal;
    color: #403F3D;
    border: 1px solid #665F55;
    background-color: #E1D4C9;
    border-radius: 100px;
   /* background-color: rgb(3, 182, 12);*/
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    z-index: 1;
    transition: 1s;
}
.modal-size-tabs,
.modal-additives-tabs {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}


.tab1-size,
.tab2-size,
.tab3-size {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    width: auto;
    height: 46px;
    padding: 8px 15px 8px 7px;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    transition: 0.5s;
}
.tab1-additives,
.tab2-additives,
.tab3-additives {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    height: 46px;
    width: auto;
    padding: 8px 16px 8px 8px;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    transition: 0.5s;
}

.tab1-size.open,
.tab2-size.open,
.tab3-size.open,
.tab1-additives.open,
.tab2-additives.open,
.tab3-additives.open {
    border: 1px solid #665F55;
    background-color: #665F55;   
    color: #E1D4C9;
}
.tab1-size-letter,
.tab2-size-letter,
.tab3-size-letter {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 9px 3px 10px;
    border: 1px solid #C1B6AD;
    background-color: #C1B6AD;
    border-radius: 100px;
}
.tab1-additives-letter,
.tab2-additives-letter,
.tab3-additives-letter {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 9px 3px 10px;
    border: 1px solid #C1B6AD;
    background-color: #C1B6AD;
    border-radius: 100px;
}
.tab1-size-letter.open,
.tab2-size-letter.open,
.tab3-size-letter.open,
.tab1-additives-letter.open,
.tab2-additives-letter.open,
.tab3-additives-letter.open {
    background-color: #E1D4C9;
    border: none;
    color: #403F3D;
}


.modal-description-alert-text{
    width: auto;
    display: flex;
    align-items: center;    
    justify-content: start;
    flex: 1 0 0;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}






/*hover для модального окна*/
@media (hover: hover) {

.tab1-size:hover,
.tab2-size:hover,
.tab3-size:hover,
.tab1-additives:hover,
.tab2-additives:hover,
.tab3-additives:hover {
    border: 1px solid #665F55;
    background-color: #665F55;   
    color: #E1D4C9;
    cursor: pointer;
}
.tab1-size-letter:hover,
.tab2-size-letter:hover,
.tab3-size-letter:hover,
.tab1-additives-letter:hover,
.tab2-additives-letter:hover,
.tab3-additives-letter:hover {
    background-color: #E1D4C9;
    border: none;
    color: #403F3D;
    cursor: pointer;
}
.modal-description-button:hover {
    background-color: #665F55;
    color: #E1D4C9;
    cursor: pointer;
}
.wrapper-img-coffee1:hover,
.wrapper-img-coffee2:hover,
.wrapper-img-coffee3:hover,
.wrapper-img-coffee4:hover,
.wrapper-img-coffee5:hover,
.wrapper-img-coffee6:hover,
.wrapper-img-coffee7:hover,
.wrapper-img-coffee8:hover {
    cursor: pointer;
}
}