@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: url(assets/fonts/Inter-Regular.ttf);
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  width: 100%;
  margin: 0;
  background: #ffffff;
}
.body .body-container {
  overflow: clip;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  background: #d8ffe0;
}

.hangman {
  position: relative;
  height: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hangman .hangman__img {
  width: 26vw;
  height: 43vw;
  border-bottom: solid 20px black;
  padding-bottom: 2px;
}
.hangman .hangman__title {
  width: 26vw;
  height: auto;
  text-align: center;
  padding-top: 10px;
  font-size: 2.5em;
  line-height: 1.5em;
}

.hangman-body {
  position: absolute;
  display: grid;
  grid-template-columns: 48% 4% 48%;
  grid-template-areas: "head head head" "handL body handR" "legL legL legR";
  align-items: center;
  justify-items: center;
  width: 40%;
  height: 50%;
  top: 21%;
  right: 2%;
}
.hangman-body .hangman-body__head {
  grid-area: head;
  width: 100px;
  height: 100px;
  border: 5px solid grey;
  border-radius: 100%;
  opacity: 0;
}
.hangman-body .hangman-body__left-hand {
  grid-area: handL;
  opacity: 0;
}
.hangman-body .hangman-body__body {
  grid-area: body;
  opacity: 0;
}
.hangman-body .hangman-body__right-hand {
  grid-area: handR;
  opacity: 0;
}
.hangman-body .hangman-body__left-leg {
  grid-area: legL;
  opacity: 0;
}
.hangman-body .hangman-body__right-leg {
  grid-area: legR;
  opacity: 0;
}

.game-board {
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-board .game-board__hint {
  width: auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
}
.game-board .game-board__incorrect-container {
  width: auto;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.game-board .game-board__incorrect-guesses {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
}
.game-board .game-board__incorrect-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
  color: red;
}

.game-word {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.game-word .game-word__char {
  width: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
  font-size: 2.5em;
  font-weight: 900;
}

.game-keyboard {
  width: auto;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.game-keyboard .game-keyboard__button {
  width: 60px;
  height: 50px;
  background: #2f6db9;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 900;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-keyboard__button:disabled {
  background: #879bb5;
}

/*# sourceMappingURL=style.css.map */
